.table{
  /* border: 1px solid red; */
  /* margin-right: 10%; */
  /* width:25%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 25%;
}

.card{
  /* margin-right: 20%; */
  /* border:  1px solid rgb(17, 222, 51); */
/* width: 50%; */
<<<<<<< HEAD
=======
/* width: 350px; */
>>>>>>> a610418289548e263a19f3aa14e2d8b6956bbcb3
}
.btn{
  margin-left: 2%;
}
