.table{
  justify-content: center;
  width: 25%;
  order: 0;
}

.table .card {
  width: 100%;
}

.room-info,
.scroll-block {
  max-height: 100%;
  padding: 1rem;
}

.name {
  color: aqua;
}

.guests-card {
  min-height: 40vh;
}

@media screen and (max-width:1350px) {
  .table{
    justify-content: center;
    width: 25%;
  }
  .guests-card.card{
      min-height: 15vh;
      border: 1px solid rgb(27, 43, 147);
  }
}

@media screen and (max-width: 480px){
  .table{
      order: 1;
  }
}
