.main-container {
    display: flex;
    flex-direction: row;
    min-width: 50%;
    flex-wrap: wrap; 
    justify-content: space-around;
}
.private {
    padding: 30px 100px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.chat {
    max-height: 300px;
    order: 3
}

  
  .table{
     order: 1;
     min-width: 25%;
}

.guests-card {
    margin-top: 20px;
}

.scroll-block::-webkit-scrollbar {
    width: 15px;
}

.btn1 {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}

.btn2{
  display: flex;
  justify-content: center;
  margin: 5px;
  /* border: 2px solid red; */

}

.p{
width: 100%;
height: 500px;
overflow-y: scroll;
scroll-behavior: smooth;
}

.track-list {
    min-width: 30%;
    order: 2;
    border-radius: 15px;
    border: 1px solid rgb(78, 76, 76);
}

.track {
    /* grid-area: search; */
    position: relative;  
    margin: 5px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.player-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.player-btn {
    background-color: rgb(9, 171, 171);
    color: rgb(231, 244, 244);
    max-width: 35%;
}

@media screen and (max-width:1350px) {
    .player-btn-group {
        flex-direction: column;
        gap: 30px;
    }
    .player-btn {
        min-width: 100%;
    }
    .private {
        padding: 10px;
    }
}
@media screen and (max-width: 950px) {
    .App {
        height: fit-content;
        
    }
    .search-block{
        display: none;
    }
    .private {
        padding: 10px;; 
        max-height: 100%;
        /* flex-direction: column;
        justify-content:flex-start; */
        align-items: center;
        width: 100%;

    }
    .card.room-creator-card,
    .card.guests-card {
        position: static;
    }
    .track{
        order: 0;
        min-width: 100%;
        justify-content: center;
    }

    .table {
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        justify-self: center;
    }

    .footer {
        display: none;
    }

}

@media screen and (max-width: 550px) {
    .main-container {
        flex-direction: column;
    }

    .chat {
        max-height: none;
    }
}
