.private {
    padding: 30px 0;
    max-height: 80vh;
}


.table1 {
    /* border: 1px solid rgb(85, 163, 103); */
}

.guests-card {
    /* border: 1px solid red; */
    margin-top: 20px;
    max-height: 50%;
    overflow-y: scroll;
}

.scroll-block::-webkit-scrollbar {
    width: 15px;
}

.track {
    /* border: 1px solid rgb(85, 93, 163); */
}

.btn1 {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 20px;
}

.btn2{
  display: flex;
  justify-content: center;
  margin: 5px;
  /* border: 2px solid red; */

}

.p{
width: 100%;
height: 500px;
overflow-y: scroll;
scroll-behavior: smooth;
}
.tracklist {
    margin-top: 20px;
    max-height: 79%;
    overflow-y: scroll;
}

.track {
    margin: 5px;
}
