.chat-contaitner {
    width: 100%;
    height: 98%;
    margin: 30px 0 0px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* grid-area: chat; */
    order: 2;
;
}

.message-block {
    height: 85%;
    overflow-y: scroll;
}

@media screen and (max-width: 480px){
    .chat-contaitner {
        order: -1;
    }
}



