
.input-block {
    width: 100%;
    display: flex;
    gap: 10px;
    align-content: center;
    border: none;
}

.input-field,
.input-field:active{
    display: block;
    width: 70%;
    border-radius: 10px;
    padding: 2px 9px;
    color: black;
}

.input-field::placeholder{
    display: block;
    text-align: left;
    padding: 10px;
}

.input-field::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9fd;
}

.input-field::-webkit-scrollbar-thumb {
    background-color: #777e83;
}

.input-btn {
    background-color: rgb(9, 171, 171);
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(231, 244, 244);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    min-width: 30%;
}
.input-btn:active {
    box-shadow: 0 0 3px black inset;
    transition: 0.3s;

}
